/* Blog container */
.blog-container {
  margin: 0 auto;
  /* padding: 2rem; */
}

/* Hero section */
.blog-hero {
  text-align: center;
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  color: white;
  padding: 3rem 2rem;
  margin-bottom: 2rem;
}

.blog-hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.blog-hero p {
  font-size: 1.2rem;
}

/* Blog posts */
.posts-grid {
  margin: 4rem 3rem;
}
.blog-posts {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 2.5rem;
  /* place-items: center; */
}
.blog-post {
  background: #fff;
  padding: 1.5rem;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 97%;
}

.blog-post h2 {
  margin: 0 0 0.5rem;
  color: #333;
  text-align: center;
}

.blog-post h2 a {
  text-decoration: none;
  color: #4a90e2;
}
.blog-post p {
  text-align: end;
  color: #333;
}

.blog-post h2 a:hover {
  text-decoration: underline;
}

.post-date {
  display: block;
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 1rem;
}

.read-more {
  display: inline-block;
  margin-top: 0.5rem;
  color: #ff7e5f;
  text-decoration: none;
  font-weight: bold;
}

.read-more:hover {
  text-decoration: underline;
}
img {
  /* width: 70%; */
  height: 50%;
  margin: 1rem 0;
  margin-left: 25%;
  border-radius: 3px;
}
.highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9132a8;
  font-size: 14px;
}
.likes {
  display: flex;
  gap: 10px;
}
.like {
  cursor: pointer;
}
